<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id ="app">
    <cpn :number1="num1" 
    :number2="num2" 
    @num1change="num1change" 
    @num2change="num2change"/>
  </div>
  <template id="cpn">
    <div>
      <h2>props: {{number1}}</h2>
      <h2>data: {{dnum1}}</h2>
      <input type="text" v-model="dnum1">

      <h2>props: {{number2}}</h2>
      <h2>data: {{dnum2}}</h2>
      <input type="text" v-model="dnum1">
    </div>
  </template>
  <script src="js/vue.js"></script>
  <script>
    const cpn = {
      template: '#cpn',
      props: {
        number1: Number,
        number2: Number
      },
      data() {
        return {
          dnum1:this.number1,
          dnum2:this.number2
        }
      },
      watch: {
        num1change(newvalue) {
          this.dnum2 = newvalue * 100
          this.$emit('num1change',newvalue)
        },
        num2change(newvalue) {
          this.dnum1= newvalue / 100
          this.$emit('num2change',newvalue)
        }
      }
    }
    const app = new Vue({
      el: '#app',
      data: {
        num1: 1,
        num2: 0
      },
      methods: {
        num1change(value) {
          this.num1 = parseFloat(value);
        },
        num2change(value) {
          this.num2 = parseFloat(value);
        }
      },
      components: {
        cpn
      }
    });
  </script>
</body>
</html>